{% extends 'base.html' %}

{% block content %}

<dialog id="add-task-modal">
    <h1 class="text-3xl tracking-tighter">Add new task</h1>
    <form class="app-form" action="{% url 'tasks:tasks' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <button class="btn mt-2">Add Task</button>
    </form>
</dialog>


<h2 class="text-2xl font-light pb-4 pt-4">pending:</h2>
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4">
    {% for task in pending_tasks %}
    <div class="border-2 border-black p-4">
        <div class="flex justify-between item-start">
            <a href="{% url 'tasks:taskdetails' task_id=task.id %}" class="text-2xl tracking-tight cursor-pointer hover:underline">{{ task.title }}</a>
            <form class="single-button-form" action="{% url 'tasks:completetask' %}" method="post">
                {% csrf_token %}
                <input type="hidden" name="task_id" value="{{ task.id }}"/>
                <button class="btn">Done</button>
            </form>
        </div>
        {% if task.deadline %}
        <p class="font-light">{{ task.deadline|date:"d M Y" }} {{ task.deadline|time:"h:i A" }}</p>
        {% endif %}
    </div>
    {% empty %}
    <p>No pending tasks.</p>
    {% endfor %}
</div>


<h2 class="text-2xl font-light pb-4 pt-8">completed:</h2>
<div class="grid md:grid-cols-2 lg:grid-cols-3 gap-4 opacity-50">
    {% for task in completed_tasks %}
    <div class="border-2 border-black p-4">
        <a href="{% url 'tasks:taskdetails' task_id=task.id %}" class="text-2xl tracking-tight line-through cursor-pointer hover:underline">{{ task.title }}</a>
        {% if task.deadline %}
        <p class="font-light">{{ task.deadline|date:"d M Y" }} {{ task.deadline|time:"h:i A" }}</p>
        {% endif %}
    </div>
    {% empty %}
    <p>No completed tasks.</p>
    {% endfor %}
</div>

<script>
    document.getElementById('add-task-trigger').addEventListener('click', () => {
        document.getElementById('add-task-modal').showModal()
    })
</script>


{% endblock %}